<ion-header>
    <ion-row>
      <ion-item-divider>
        <ion-icon class="back-ion-icon" name="arrow-back" (click)="dismiss()"></ion-icon>
        <h2>No Drivers are online at this moment in time</h2>
      </ion-item-divider>
    </ion-row>
  </ion-header>
  
  <ion-content>
    <ion-col id="currently-unavailable">
      <img src="../../assets/images/Group 3188.png" alt="pizza box illustration">
      <h2>Currently unavailabe</h2>
      <p>Our drivers are not online at this moment in time</p>
    </ion-col>
  </ion-content>