:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}

a {
    color: #ff0000
}

.type-toggle {
    padding-inline-start: 0.5rem;
}

.show-option, 
    .hide-option {
        font-size: 1.2rem;
        display: block;
        
    }