ion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  ion-item-divider {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #ffffff;

    h1 {
      color: #0d0d0d;
      // font-weight: 500;
      font-size: 1.25rem;
      text-align: center;
      padding: 0 60px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 500px;
      min-width: 200px;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      z-index: -1;
    }
  }
}
ion-content {
  --background: #ffff;
  padding: 10px;

  .form {
    margin-top: 10px;
    width: 100%;
    background-color: #ffffff;

    .list-container {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-list {
        background-color: #ffffff;

        ion-input {
          background-color: #ffffff;
          border: 1px solid #BEC5D1;
          box-sizing: border-box;
          margin-bottom: 10px;
          border-radius: 10px;
          color: #FF0000;
          width: 310px;
          --placeholder-color: grey;
        }

        ion-label {
          background-color: #ffffff;
          margin-left: 5px;
          color: #374151;
        }
      }
    }
  }

  .welcome{
    display: block;
    margin-left: 5px;
    font-size: 15px;
    margin-top: 10%;
  }

  .button_grid{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button{
      --background:  #FF0000;
      width: 320px;
      height: 50px;
      color: #FFFFFF;
      --border-radius: 10px;
      text-transform: none;
    }
  }


}
