<ion-header>
  <ion-row>
    <ion-item-divider>
      <!--      <ion-icon class="add-icon" name="arrow-back" (click)="moveBackOnTap()"></ion-icon>-->
      <h1>New Password</h1>
    </ion-item-divider>
  </ion-row>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col>
      <ion-text class="welcome">
        Your new password must be different from your previous password used.
      </ion-text>
    </ion-col>
  </ion-row>

  <form [formGroup]="form" class="form">
    <div class="list-container">
      <ion-list>
        <ion-label position="floating"><b>Password</b></ion-label>
        <ion-input placeholder="*********"
                   type="password"
                   formControlName="password"
                   class="ion-padding"></ion-input>
        <app-form-control-error
          [control]="form.get('password')?.value"
          label="password"
        ></app-form-control-error>
        <ion-label position="floating"><b>Confirm Password</b></ion-label>
        <ion-input placeholder="*********"
                   type="password"
                   formControlName="confirmPassword"
                   class="ion-padding"></ion-input>
        <app-form-control-error
          [control]="form.get('confirmPassword')?.value"
          label="confirm password"
        ></app-form-control-error>
      </ion-list>
    </div>
  </form>

  <ion-grid class="button_grid">
    <ion-row>
      <ion-col>
        <ion-button (click)="resetPasswordOnTap()">Reset</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
