ion-header {
  ion-item-divider {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #ffffff;

    ion-icon {
      color: #0d0d0d;
      width: 25px;
      height: 25px;
      padding-left: 20px;
    }

    h1 {
      color: #0d0d0d;
      // font-weight: 500;
      font-size: 1.25rem;
      text-align: center;
      position: absolute;
      padding: 0 60px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 500px;
      min-width: 200px;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      z-index: -1;
    }
  }
}
ion-content {
  padding: 10px;
  --background: #ffffff;

  .form {
    margin-top: 10%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-list{
      background-color: #FFFFFF;
    }
    ion-input {
      border: 1px solid #BEC5D1;
      box-sizing: border-box;
      margin-bottom: 10px;
      border-radius: 10px;
      color: #FF0000;
      width: 320px;
      --placeholder-color:grey;
    }

    ion-label{
      font-size: 15px;
      margin-left: 5px;
      color: #374151;
    }
  }

  .welcome{
    display: block;
    margin-left: 5px;
    font-size: 15px;
    margin-top: 10%;
  }

  .button_grid{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b1{
    --color:  #FFFFFF;
    width: 320px;
    height: 50px;
    --background: #ff0000;
    --border-radius: 10px;
    text-transform: none;
  }

  .b2{
    color:  #FF0000;
    width: 320px;
    height: 50px;
    background: white;
    --border-radius: 10px;
    text-transform: none;
  }
}
