  .form-input-new{
    background: #FFFFFF;
  }

  .save-button{
    button {
      border: none;
      background-color: #FFFFFF;
      color: #212121;
    }
  }

  .account-menu-option{
    margin-top: 25px;
    p{
      color: #FF0000;
    }
    .option-icon{
      padding-left: 0;
    }
  }

  // ion-content{
  //   --background: #f6f6f6
  // }