#currently-unavailable{
    position: fixed;
    top: 0;
    padding: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        padding-top: 25px;
        font-size: 16px;
        font-weight: 500px;
    }
    p{
        padding-top: 10px;
        font-size: 12px;
        color: #7E7E7E;
    }
}