<div class="content-wrapper">
  <div class="placeholder">
    <div class="animated-background"></div>
  </div>
  <div class="placeholder-title">
    <div class="animated-background"></div>
  </div>
  <div class="placeholder-title2">
    <div class="animated-background"></div>
  </div>
  <div class="info">
      <div class="placeholder-img">
        <div class="animated-background"></div>
      </div>
      <div class="placeholder-info">
        <div class="animated-background"></div>
      </div>
      <div class="placeholder-info2">
        <div class="animated-background"></div>
      </div>
    </div>
  <div class="placeholder-title placeholder-title3">
    <div class="animated-background"></div>
  </div>
  <div class="placeholder-title2">
    <div class="animated-background"></div>
  </div>
  <div class="info">
      <div class="placeholder-img">
        <div class="animated-background"></div>
      </div>
      <div class="placeholder-info">
        <div class="animated-background"></div>
      </div>
      <div class="placeholder-info2">
        <div class="animated-background"></div>
      </div>
    </div>
</div>
