<div id="navbar" #NavContainer>
  <ul>
    <button routerLink="/home" 
    routerLinkActive="active">
      <ion-icon name="home-outline"></ion-icon>
      <p>Home</p> 
    </button>
    <button routerLink="/orders" 
    routerLinkActive="active">
      <ion-icon name="cart-outline"></ion-icon>
      <p>Cart</p>
    </button> 
    <button routerLink="/my-orders" 
    routerLinkActive="active">
      <ion-icon name="albums-outline"></ion-icon>
      <p>Orders</p>
    </button>
    <button routerLink="/user-profile" 
    routerLinkActive="active">
      <ion-icon name="person"></ion-icon>
      <p>Profile</p>
    </button>
    <!-- <button class="donation-button" routerLink="/donate" 
    routerLinkActive="active">
      <img id="donate-heart" src="../../assets/icon/heart-plus-grey.png" alt="">
      <img id="active-donate-heart" src="../../assets/icon/heart-plus.png" alt="">
      <p>Donate</p>
    </button> -->
  </ul>
</div>
