<ion-header>
  <ion-row>
    <ion-item-divider>
      <ion-icon class="add-icon" name="arrow-back" (click)="moveBackOnTap()"></ion-icon>
      <h1>Terms & Conditions</h1>
    </ion-item-divider>
  </ion-row>
</ion-header>


<ion-content>
  <div class="screen-content">
    <h1>Terms and Conditions</h1>

    <h3>Introduction</h3>

    <span>1. The CRUNCHTIME DELIVERY (PTY) LTD (REG NO: 2021/979448/07) software application
    (the "App") is available for download from various app stores identified by Crunchtime
    Delivery Pty Ltd from time to time, on compatible electronic devices, or accessible through
    the Mobi site. The App is owned and operated by Crunchtime Delivery Ltd ("Crunchtime
    Delivery Pty Ltd", "we", "us" and "our").
    2. The App enables users to order and purchase food, beverages and other items (the "Food")
    from any of the Vendors, listed on the App (each a "Vendor").
    3. These terms and conditions ("Terms and Conditions") govern the ordering, sale, delivery
    and collection of Food, and the use of the App. These Terms and Conditions are binding and
    enforceable against every person that accesses or uses the App ("you", "your" or "user"),
    including without limitation each user who registers as contemplated below ("registered
    user"). By using the App, you acknowledge that you have read and agree to be bound by
    these Terms and Conditions. You must not use the App or Telephone Service if you do not
    agree to the Terms and Conditions.</span>
    <h3>
      Important Notice
    </h3>

    1. These Terms and Conditions apply to users who are consumers for purposes of the
    Consumer Protection Act 2008 (the "CPA").
    2. These Terms and Conditions contain provisions that appear in similar text and style to this
    clause and which –
    3. May limit the risk or liability of Crunchtime Delivery Pty Ltd or a third party; and/or
    4. May create risk or liability for the user; and/or
    5. May compel the user to indemnify Crunchtime Delivery Pty Ltd or a third party; and/or
    6. Serve as an acknowledgement, by the user, of a fact.
    7. Your attention is drawn to these Terms and Conditions because they are important and
    should be carefully noted.
    8. If there is any provision in these Terms and Conditions that you do not understand, it is your
    responsibility to ask Crunchtime Delivery Pty Ltd to explain it to you before you accept the
    Terms and Conditions by continuing to use the App.
    9. Nothing in these Terms and Conditions is intended or must be understood to unlawfully
    restrict, limit or avoid any right or obligation, as the case may be, created for either you or
    Crunchtime Delivery Pty Ltd in terms of the CPA.
    10. These Terms and Conditions are divided into three sections, as follows:

    <h5>o Part 1 - Orders</h5>
    <h5>o Part 2 - Privacy Policy</h5>
    <h5>o Part 3 - General Legal Terms</h5>

    <h3>Part 1 - Orders</h3>

    1. How it works
    1. You may order Food via the App. At the time of ordering, you are required to indicate your
    address, and then you will be given a selection of Vendors. You will only be allowed to order
    Food from that selection of Vendors, which fall within the prescribed area (as determined by
    Crunchtime Delivery Pty Ltd from time to time) surrounding your given address.
    2. Where you have ordered using the App, you may be given the choice of receiving the Food
    by means of delivery driver, which delivery service shall be carried out either (i) by v or its
    nominee, or (ii) by a driver whom you mandate to deliver Food on our App (items (i) and (ii)
    collectively referred to as the "Delivery").
    3. We will indicate on the relevant product and checkout pages in the App which Food items
    are for sale by a particular Vendor. You can only order Food from one Vendor at a time, in
    each order that you place. Crunchtime Delivery Pty Ltd may at their sole discretion amend
    the app so that the consumer may place a multi-order going forward.
    4. You can only place orders for Food from a Vendor provided that it is open for business and
    active on the App. We may at any time suspend or terminate the availability of a Vendor,
    menu or menu item on the App, in our sole discretion.
    5. You acknowledge that, notwithstanding that the Food may be ordered via the App, you
    place such order with the relevant Vendor. The sale of Food (formed on acceptance of an
    order, as set out in clause 5.2) is solely between the registered user and Crunchtime
    Delivery Pty Ltd. Crunchtime Delivery Pty Ltd only provides the platform to facilitate
    transactions between Vendors and registered users in relation to the Food.
    6. Because we want you to have a safe and consistent experience, Crunchtime Delivery Pty Ltd
    will be your first point of contact for any complaints arising out of or in connection with the
    sale of Food between a registered user and a Vendor.

    <h3> 2. Registration and use of the App</h3>

    1. Only registered users may order Food via the App.
    2. To register as a user via the App, you must provide Crunchtime Delivery Pty Ltd with your
    unique email address or telephone number, personal details and any other relevant
    information required. You will thereafter be requested to select your own password or be
    issued a randomly generated password (which you may subsequently change).
    3. You will need to use your unique username and password to place an order via the App. You
    agree that a Crunchtime Delivery Pty Ltd td operator may call you to confirm your personal
    details, order information and amount owed. For security purposes you agree to enter your
    correct username and password whenever ordering Food via the App, failing which we will
    not process your order.
    4. You agree and warrant that your username and password (if applicable) shall not be
    disclosed by you to any third party.
    5. You agree that, once your correct username and password have been entered (in relation
    to the App), irrespective of whether the use of the username and/or password is
    unauthorized or fraudulent, you will be liable for payment of any resulting order.
    6. You agree to notify Crunchtime Delivery Pty Ltd immediately upon becoming aware of or
    reasonably suspecting any unauthorised access to or use of your username and/or password
    and to take steps to minimise any resultant loss or harm.
    7. You agree that you will not in any way use any device, software or other instrument to
    interfere or attempt to interfere with the proper working of the App. You may use the App
    only for lawful purposes and may not in any way (including without limitation by use of any
    robot, spider, other automatic device or manual process) monitor, distribute, display,
    publish, copy, print, post, modify or otherwise use the App and/or the information
    contained therein without the express prior written consent of an authorised Crunchtime
    Delivery Pty Ltd representative.
    3. Conclusion of Order and availability of Food
    1. Registered users may place orders for Food, which the Vendor and/or Crunchtime Delivery
    Pty Ltd may accept or reject. The placing of an order will happen when payment is made by
    any of the acceptable payment methods in 5.3 and is confirmed on the App. Whether or not
    the Vendor and/or Crunchtime Delivery Pty Ltd accepts an order depends on various
    factors, including but not limited to, the availability of Food, capacity for Delivery,
    correctness of the information relating to the Food (such as the price) and receipt of
    payment or payment authorisation (if applicable) by Crunchtime Delivery Pty Ltd for the
    Food.
    2. NOTE: Crunchtime Delivery Pty Ltd will indicate the acceptance of your order
    (by Crunchtime Delivery Pty Ltd and the Vendor) by way of notification on the App or
    email ("Acceptance Notice"), and only at that point will agreements of sale (the "Sale")
    come into effect between you and the Vendor in respect of the Food; and if
    applicable, Crunchtime Delivery Pty Ltd in respect of the Delivery services (if you
    requested Delivery of the Food).
    This is regardless of any earlier communication from the Vendor and/or Crunchtime
    Delivery Pty Ltd stating that your order or payment has been confirmed. Crunchtime
    Delivery Pty Ltd will indicate the rejection of your order by cancelling it, notifying you
    thereof and credit your Credit Wallet, for the amount you already paid. You can then use
    this credit either immediately or at a later date when you place your next order with
    Crunchtime Delivery Pty Ltd.
    3. Prior to the Food being delivered to your nominated address, we may reject an order or
    cancel a Sale at any time due to: (i) the Vendor being unable to fulfil the order; (ii) Delivery
    services not being readily available (if applicable); and/or (iii) any other reason in
    Crunchtime Delivery Pty Ltd’s sole discretion.
    4. Should you wish to retract your order, you should contact Crunchtime Delivery Pty Ltd via
    telephone immediately, and Crunchtime Delivery Pty Ltd will use its reasonable endeavours
    to effect such retraction. You will not be able to retract your order via the App, or after an
    Acceptance Notice has been generated. You will not be able to change your order after
    placing it but may be able to retract it (subject to the above) and place a new one.
    5. Placing Food in your shopping basket on the App without completing the purchase cycle
    does not constitute an order for Food, and as such, Food may be removed from the
    shopping basket if stock is no longer available or the price thereof might change without
    notice to you. You cannot hold Crunchtime Delivery Pty Ltd and/or the Vendor liable if such
    Food is not available or is not available at a particular price when you complete or attempt
    to complete the purchase cycle at a later stage.
    6. Crunchtime Delivery Pty Ltd relies on information supplied to it by the Vendors relating to
    the Food, and Crunchtime Delivery Pty Ltd accordingly bears no liability for any inaccuracies
    in such information supplied to it. You acknowledge that stock of all Food on offer may be
    limited. Crunchtime Delivery Pty Ltd will take reasonable efforts to ensure that when Food
    is no longer available, offers thereof are discontinued on the App. However, we cannot
    guarantee the availability of Food. When Food is no longer available after you have placed
    an order or the Vendor does not accept your order, Crunchtime Delivery Pty Ltd will notify
    you thereof and reject your order or cancel the Sale ("Failed Order").
    7. You also acknowledge that the pricing of Food may change at any time without notice to
    you, but no price change will affect any Food ordered in respect of which you have received
    an Acceptance Notice, except in the case of an obvious pricing error. In the event of an
    obvious pricing error, we may reject your order or cancel the Sale at any time and you will
    be entitled to a refund of the amount paid by you for such order.
    8. Any dispute regarding inaccurate information relating to a Vendor or Food, Food pricing
    errors or sold-out Food should be resolved between you and Crunchtime Delivery Pty Ltd;
    your respective rights and obligations being as set out in these Terms and Conditions.
    9. It is your responsibility to establish from the relevant Vendor which ingredients will be used
    when preparing the Food and make the necessary arrangements with such Vendor to
    exclude any ingredients if you have any allergies or special requirements (unless such
    exclusions can be made by you on the App). We cannot and do not guarantee that the Food
    will be free of allergens and we disclaim any liability relating to any ingredients or allergens
    contained in Food.
    4. Conclusion of Sales and availability of Food
    1. For each order, you will be charged:
    1.1. the total Food price by the relevant Vendor;
    1.2. a Delivery fee by Crunchtime Delivery Pty Ltd, alternatively a driver fee by the App;
    and
    1.3. A service fee which will be determined from time to time by the company and is in
    the sole discretion of the company
    2. If specifically requested by you, Crunchtime Delivery Pty Ltd will provide you with a valid
    invoice for any fees charged by it or the Delivery driver (as the case may be) in respect of
    the Delivery. The invoice will be sent to you by email and will also reflect the price of the
    purchased Food as a line item.
    5. Payment
    1. Crunchtime Delivery Pty Ltd will receive payment of all order charges and will pay the Foodrelated portion thereof to the relevant Vendor. We are authorised to receive payment for
    the Food on behalf of the Vendor and payment made by you to us for the full price of the
    Food will discharge your payment obligations to the Vendor.
    2. If a Delivery driver is used Crunchtime Delivery Pty Ltd will receive payment and will pay the
    delivery-related portion thereof to the relevant Delivery driver. We are authorized to
    receive payment for the delivery of Food on behalf of the Delivery driver and payment made
    by you to us for the price of the delivery will discharge your payment obligation to the
    Delivery driver.
    3. Payment for your order is made using the necessary gateway and can be made in one of the
    following ways (only one payment method may be used to settle the amount due and not a
    combination of payment methods, except when a coupon is used in combination of another
    payment method):
    3.1. Credit Card Payment by credit card may only be made when an order is placed via
    the App. Where payment is made by credit card, we may require additional
    information in order to authorise and/or verify the validity of payment. You will be
    redirected to the secure site of our payment gateway, which is not owned by
    Crunchtime Delivery Pty Ltd or under Crunchtime Delivery Pty Ltd 's control, and
    for which you acknowledge Crunchtime Delivery Pty Ltd is not responsible in law.
    Such payment gateway is however committed to upholding strict security
    standards, and at no stage will Crunchtime Delivery Pty Ltd store your credit card
    details (save for the last four digits for payment purposes). We are entitled to
    withhold processing the order until such time as the additional information is
    received by us and authorisation is obtained by us for the amounts. If we do not
    receive authorisation, your order for the Food will be cancelled. You warrant that
    you are fully authorised to use the credit card supplied for purposes of paying the
    order charges. You also warrant that your credit card has sufficient available funds
    to cover all the order charges; and
    3.2. Instant EFT: Where payment is made by EFT, we may require additional information
    in order to authorise and/or verify the validity of payment. You will be redirected to
    the secure site of our payment gateway, which is not owned by Crunchtime
    Delivery Pty Ltd or under Crunchtime Delivery Pty Ltd 's control, and for which you
    acknowledge Crunchtime Delivery Pty Ltd is not responsible in law. Such payment
    gateway is however committed to upholding strict security standards, and at no
    stage will Crunchtime Delivery Pty Ltd store your banking details. We are entitled to
    withhold processing the order until such time as the relevant information is
    received by us and authorisation is obtained by us for the transaction. If we do not
    receive authorisation, your order for the Food will be cancelled. You warrant that
    you are fully authorised to use the bank details supplied for purposes of paying the
    order charges. You also warrant that your bank account has sufficient available
    funds to cover all the order charges.
    3.3. NO Cash on delivery of foods will be acceptable
    3.4. If you have a promotional coupon or discount ("Coupon") that you wish to use with
    your order, you may only do so via the App. Please see clause 12 for more
    information about Coupons.
    4. Delivery of Food
    1. Delivery of Food provisions during National Covid-19 Lockdown: In light of the Government
    restrictions that have been put in place during the national Covid-19 lockdown, we have had
    to make some temporary changes to our Delivery of Food. When you order Food for
    Delivery by Crunchtime Delivery Pty Ltd or its Delivery driver (as defined below), it is your
    responsibility to select a physical address to which the Food should be delivered that is in
    compliance with the current Government lockdown restrictions (“Delivery Address”).
    Crunchtime Delivery Pty Ltd accepts no responsibility and/or liability of any nature
    whatsoever for your selection of delivery address which is not in compliance with any
    Government lockdown restrictions. Should your Delivery address not be in compliance with
    any Government lockdown restrictions, Crunchtime Delivery Pty Ltd would be entitled to
    cancel your order at any time, without any refund to you. Where there are any
    inconsistencies between these Covid-19 Delivery Terms and Conditions, and our Standard
    Terms and Conditions, these Covid-19 Delivery Terms and Conditions will apply specifically
    during the lockdown period.
    2. If you order Food for Delivery by Crunchtime Delivery Pty Ltd or its nominee (i.e. an
    independent contractor or Delivery driver):(i) you are required to indicate the physical
    address to which the Food should be delivered ("Delivery Address"); (ii) you are not allowed
    to change the Delivery Address after submitting your order; and (iii) you will only be allowed
    to order Food from Vendors within the prescribed range (as determined by Crunchtime
    Delivery Pty Ltd from your Delivery Address).
    3. Where you have requested the Food to be delivered to you by way of Delivery and you have
    received an Acceptance Notice:
    3.1. the Delivery driver will endeavour to deliver the Food to you by the estimated delivery time
    specified in the Acceptance Notice, however, delivery times are not guaranteed and may be
    adjusted by us in our reasonable discretion. Events outside of the Delivery driver’s control
    such as traffic, inclement weather conditions and delays by the Vendor in relation to your
    order may result in a delay of the delivery of the Food, but the Delivery driver will continue
    with its efforts to deliver the Food to you as soon as possible in the circumstances; and
    3.2. Our obligation to deliver the Food is fulfilled when the Delivery driver delivers the Food to
    the Delivery Address. The Delivery driver is only responsible for the delivery of the Food to
    the Delivery Address. the Delivery driver arrives at the Delivery Address and you fail to open
    the door or respond to its telephone calls within 10 minutes, the Delivery driver may leave
    the premises, taking the Food with it, and you will remain liable for payment of all order
    charges. If you are not able to be present at the Delivery Address to accept delivery of the
    Food, it is your responsibility to arrange for someone else to accept the delivery at such
    address and pay for the order on your behalf if payment has not yet been made.
    Neither Crunchtime Delivery Pty Ltd nor the Vendor is responsible for any loss or
    unauthorised consumption of Food, after the Delivery driver has delivered the Food to the
    Delivery Address.
    4. Errors
    1. We shall take all reasonable efforts to accurately reflect or inform you of the Food
    description, availability, purchase price and Delivery service charges via the App. However,
    should there be any errors of whatsoever nature on the App (which are not due to our gross
    negligence), we shall not be liable for any loss, claim or expense relating to an order or Sale
    based on any error, the rejection of an order or the cancellation of a Sale, save to the extent
    of refunding you for any amount already paid.
    5. Complaints
    1. We want you to be happy with your purchase. Please let us know by telephone or email as
    soon as possible if there is a problem with your Food quality and/or temperature, if you
    receive the wrong Food or if you receive Food which is not as described on the App.
    2. Save where we determine in our sole discretion that the cause for the complaint was due to
    the fault of the Vendor, we will communicate your complaint to the relevant Vendor, and
    thereafter the matter will need to be resolved by the parties to the Sale of Food, being you
    and Crunchtime Delivery Pty Ltd shall bear no liability in relation to such complaint.
    Crunchtime Delivery Pty Ltd may in its sole and absolute discretion provide you with
    compensatory amount by way of a coupon.
    9. Coupons
    1. Crunchtime Delivery Pty Ltd may from time to time make Coupons available for use on the
    App towards the purchase of Food. Coupons can only be redeemed while they are valid and
    their expiry dates cannot be extended.
    2. Coupons are issued in Crunchtime Delivery Pty Ltd 's sole discretion and we are entitled at
    any time to correct, cancel or reject a Coupon for any reason. Users do not have a right to
    Coupons, and Coupons cannot be earned. Coupons are issued under specific terms and
    conditions regulating when and how they may be used.
    3. Unless otherwise stated under the specific terms and conditions regulating the Coupon:
    3.1. each Coupon can only be used once;
    3.2. only one Coupon can be used per order;
    3.3. only one Coupon can be used per person per promotion/campaign on the App;
    3.4. a Coupon must be used at check-out – it cannot be used later on existing orders;
    3.5. Coupons with a percentage discount offer may only be redeemed on purchases
    with a total cart value less than R2,000; and
    3.6. the value of the Coupon will be set off against the value of your shopping basket
    and the balance remaining, if any, will be payable by you.
    4. Coupons cannot be used to buy other Coupons and cannot be exchanged or refunded for
    cash or credit. However, if you use a Coupon and your order is rejected or your Sale is
    cancelled, your Coupon will be made available for use again.
    5. Crunchtime Delivery Pty Ltd is not responsible for any loss or unauthorised use of a
    Coupon.
    Part 2 - Privacy Policy
    10. Privacy Policy
    1. We respect your privacy and will take reasonable measures to protect it, as more fully
    detailed below.
    2. Should you decide to register as a user via the App, we may require you to provide us with
    personal information which identifies you. This includes but is not limited to -
    2.1. your name and surname;
    2.2. your email address;
    2.3. your physical address;
    2.4. your identity number;
    2.5. your mobile number;
    2.6. your date of birth; and
    2.7. your gender,
    3. Should your personal information change, please inform us and provide us with updates to
    your personal information as soon as reasonably possible to enable us to update your
    personal information.
    4. You may choose to provide additional personal information to us, in which event you agree
    to provide accurate and current information, and not to impersonate or misrepresent any
    person or entity or falsely state or otherwise misrepresent your affiliation with anyone or
    anything.
    5. Should you decide to register as a user via the App, we may require you to provide us with
    personal information which identifies you. This includes but is not limited to -
    5.1. use your personal information for any purpose other than as set out below:
    5.1.1. in relation to the ordering, sale and delivery of Food;
    5.1.2. to contact you regarding current or new Food items or services or any other
    goods offered via the App (unless you have opted out from receiving marketing
    material from us);
    5.1.3. to inform you of new features, special offers and promotional competitions
    offered by us or any of our franchisees, divisions, affiliates, partners and/or
    Vendors (unless you have opted out from receiving marketing material from
    us); and
    5.1.4. to improve our product selection and your experience of our App by, for
    example, monitoring your browsing habits, or tracking your sales on the App; or
    5.1.5. disclose your personal information to any third party other than as set out
    below:
    5.1.5.1. to our employees, franchisees, third party service providers, Delivery
    drivers and Vendors who assist us to interact with you via our App, email
    or any other method, for the ordering of Food or when delivering Food to
    you
    5.1.5.2. and thus, need to know your personal information in order to assist us to
    communicate with you properly and efficiently;
    5.1.5.3. to our franchisees, divisions, affiliates, partners and/or Vendors (including
    their employees and/or third party service providers) in order for them to
    interact directly with you via email or any other method for purposes of
    sending you marketing material regarding any current or new Food items
    or services, new features, special offers or promotional items offered by
    them (unless you have opted out from receiving marketing material from
    us);
    5.1.5.4. to law enforcement, government officials, fraud detection agencies or
    other third parties when we believe in good faith that the disclosure of
    personal information is necessary to prevent physical harm or financial
    loss, to report suspected illegal activity, or to investigate violations of
    these Terms and Conditions;
    5.1.5.5. to our service providers (under contract with us) who help with parts of
    our business operations (fraud prevention, marketing, technology services
    etc). However, our contracts dictate that these service providers may only
    use your information in connection with the services they perform for us
    and not for their own benefit; and
    5.1.5.6. to our franchisees, third party service providers and/or Vendors in order
    for them to liaise directly with you in the event of you submitting a
    complaint or claim regarding any order you have placed which requires
    their involvement.
    6. We are entitled to use or disclose your personal information if such use or disclosure is
    required in order to comply with any applicable law, subpoena, order of court or legal
    process served on us, or to protect and defend our rights or property. Crunchtime Delivery
    Pty Ltd undertakes never to sell or make your personal information available to any third
    party other than as provided for in this Privacy Policy, unless we are compelled to do so by
    law. In particular, in the event of a fraudulent online payment, Crunchtime Delivery Pty Ltd
    is entitled to disclose relevant personal information for criminal investigation purposes or in
    line with any other legal obligation for disclosure of the personal information which may be
    required of it.
    7. We will ensure that all of our employees, affiliates, franchisees, third party service
    providers, Delivery drivers, divisions, partners and Vendors (including their employees and
    third party service providers) having access to your personal information are bound by
    appropriate and legally binding confidentiality obligations in relation to such information.
    8. We will -
    8.1. treat your personal information as strictly confidential, save where we are entitled
    to share it as set out in this Privacy Policy;
    8.2. take appropriate technical and organisational measures to ensure that your
    personal information is kept secure and is protected against unauthorised or
    unlawful processing, accidental loss, destruction or damage, alteration, disclosure
    or access;
    8.3. provide you with access to your personal information to view and/or update
    personal details;
    8.4. promptly notify you if we become aware of any unauthorised use, disclosure or
    processing of your personal information;
    8.5. provide you with reasonable evidence of our compliance with our obligations under
    this Privacy Policy on reasonable notice and request; and
    8.6. upon your request, promptly return or destroy any and all of your personal
    information in our possession or control, save for that which we are legally obliged
    to retain.
    9. We will not retain your personal information longer than the period for which it was
    originally needed, unless we are required by law to do so or you consent to us retaining such
    information for a longer period.
    10. Whilst we will do all things reasonably necessary to protect your rights of privacy, we cannot
    guarantee or accept any liability whatsoever for unauthorised or unlawful disclosures of
    your personal information, whilst in our possession, made by third parties who are not
    subject to our control, unless such disclosure is as a result of our gross negligence.
    11. If you disclose your personal information to a third party, such as an entity which operates a
    website linked to the App or anyone other than Crunchtime Delivery Pty Ltd, Crunchtime
    Delivery Pty Ltd SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE, HOWSOEVER ARISING,
    SUFFERED BY YOU AS A RESULT OF THE DISCLOSURE OF SUCH INFORMATION TO THE THIRD
    PARTY. This is because we do not regulate or control how that third party uses your
    personal information. You should always ensure that you read the privacy policy of any third
    party.
    Part 3 - General Legal
    11. Changes to these Terms and Conditions
    1. Crunchtime Delivery Pty Ltd may, in its sole discretion, change any of these Terms and
    Conditions at any time. It is your responsibility to regularly check these Terms and
    Conditions and make sure that you are satisfied with the changes. Should you not be
    satisfied, you must not place any further orders on, or in any other way use, the App.
    2. Any such change will only apply to your use of the App after the change is displayed in these
    Terms and Conditions. If you use the App or Telephone Service after such amended Terms
    and Conditions have been displayed, you will be deemed to have accepted such changes.
    12. Electronic communications
    1. When you use the App or send emails to us, you consent to receiving communications from
    us or any of our divisions, affiliates or partners electronically in accordance with our Privacy
    Policy as set out in Part 2 above.
    13. Ownership and copyright
    1. The contents of the App, including any material, information, data, software, icons, text,
    graphics, lay-outs, images, sound clips, advertisements, video clips, trade names, logos,
    trade-marks, designs and service marks which are displayed on or incorporated in the App
    ("App Content") are protected by law, including but not limited to copyright and trade mark
    law. The App Content is the property of Crunchtime Delivery Pty Ltd, its advertisers and/or
    sponsors, and/or is licensed to Crunchtime Delivery Pty Ltd.
    2. You will not acquire any right, title or interest in or to the App or the App Content.
    Any use, distribution or reproduction of the App Content is prohibited unless expressly
    authorised by an authorised Crunchtime Delivery Pty Ltd representative or otherwise
    provided for in law. To obtain permissions for the commercial use of any App Content, email <a href="mailto:crunchtimedelivery@gmail.com">crunchtimedelivery</a> 
    14. Disclaimer
    1. The use of the App is entirely at your own risk and you assume full responsibility for any
    risk or loss resulting from such use or reliance on any information on the App.
    2. Whilst Crunchtime Delivery Pty Ltd takes reasonable measures to ensure that the content
    of the App is accurate and complete, Crunchtime Delivery Pty Ltd makes no representations
    or warranties, whether express or implied, as to the quality, timeliness, operation, integrity,
    availability or functionality of the App, or as to the accuracy, completeness or reliability of
    any information on the App. If any such representations or warranties are made by
    Crunchtime Delivery Pty Ltd ‘s representatives, Crunchtime Delivery Pty Ltd shall not be
    bound thereby.
    3. Crunchtime Delivery Pty Ltd disclaims liability for all damage, loss or expense, whether
    direct, indirect or consequential in nature, arising out of or in connection with your access to
    or use of the App and/or any content therein, unless otherwise provided by law.
    4. Any views or statements made or expressed on the App are not necessarily the views of
    Crunchtime Delivery Pty Ltd, its directors, employees and/or agents.
    5. In addition to the disclaimers contained elsewhere in these Terms and Conditions, also
    makes no warranty or representation, whether express or implied, that the information or
    files available on the App are free of viruses, spyware, malware, trojans, destructive
    materials or any other data or code which is able to corrupt, destroy, compromise, disrupt,
    disable, harm, jeopardise or otherwise impede in any manner the operation, stability,
    security functionality or content of your computer system, computer network, hardware or
    software in any way. You accept all risk associated with the existence of such viruses,
    destructive materials or any other data or code which is able to corrupt, compromise,
    jeopardise, disrupt, disable, harm or otherwise impede in any manner the operation or
    content of a computer system, computer network, any handset or mobile device, or your
    hardware or software, save where such risks arise due to the gross negligence or wilful
    misconduct of Crunchtime Delivery Pty Ltd, its employees, agents or authorised
    representatives. Crunchtime Delivery Pty Ltd thus disclaims all liability for any damage, loss
    or liability of any nature whatsoever arising out of or in connection with your access to or
    use of the App.
    15. Linked third party websites
    1. The App may contain links or references to other websites ("Third Party Websites") which
    are outside of our control, including those of advertisers. These Terms and Conditions do
    not apply to those Third-Party Websites and Crunchtime Delivery Pty Ltd is not responsible
    for the practices and/or privacy policies of those Third-Party Websites or the "cookies" that
    those sites may use.
    2. Notwithstanding the fact that the App may refer to or provide links to Third Party Websites,
    your use of such Third Party Websites is entirely at your own risk and we are not responsible
    for any loss, expense, claim or damage, whether direct, indirect or consequential, arising
    from your use of such Third Party Websites or your reliance on any information contained
    thereon.
    16. Limitation of liability
    1. Crunchtime Delivery Pty Ltd cannot be held liable for any inaccurate information published
    on the App and/or any incorrect prices displayed on the App or communicated, save where
    such liability arises from the gross negligence or wilful misconduct of Crunchtime Delivery
    Pty Ltd, its employees, agents or authorised representatives. You are encouraged to contact
    us to report any possible malfunctions or errors by way of email to
    <a href="mailto:crunchtimedelivery@gmail.com">crunchtimedelivery</a> or by phone at 021 518 1180.
    2. Crunchtime Delivery Pty Ltd shall not be liable for any direct, indirect, incidental, special or
    consequential loss or damages which might arise from your use of, or reliance upon, the app
    or the content contained in the app; or your inability to use the app, and/or unlawful
    activity on the app, and/or any linked third party website or mobile application. should it be
    found that Crunchtime Delivery Pty Ltd is liable to you, such liability shall be limited to the
    order charges relating to your particular order.
    3. You hereby indemnify Crunchtime Delivery Pty Ltd against any loss, claim or damage which
    may be suffered by yourself or any third party arising in any way from your use of the app
    and/or any linked third party website or mobile application.
    17. Availability and termination
    1. We will use reasonable endeavours to maintain the availability of the App, except during
    scheduled maintenance periods, but are entitled at any time to discontinue providing the
    App or any part thereof with or without notice to you.
    2. Crunchtime Delivery Pty Ltd may in its sole discretion terminate, suspend and modify the
    App, with or without notice to you. You agree that Crunchtime Delivery Pty Ltd will not be
    liable to you in the event that it chooses to suspend, modify or terminate the App, other
    than for processing any orders made by you prior to such time, to the extent possible.
    3. If you fail to comply with your obligations under these Terms and Conditions, including any
    incident involving payment of the price of an order for any Food, this may (in our sole
    discretion with or without notice to you) lead to a suspension and/or termination of your
    access to the App, without any prejudice to any claims for damages or otherwise that we
    may have against you.
    4. Crunchtime Delivery Pty Ltd is entitled, for purposes of preventing suspected fraud and/or
    where it suspects that you are abusing the App and/or have created multiple user profiles to
    take advantage of a promotion or Coupon intended by Crunchtime Delivery Pty Ltd to be
    used once-off by you, to blacklist you on its database (including suspending or terminating
    your access to the App), refuse to accept or process payment on any order, and/or to cancel
    any order concluded between you and Crunchtime Delivery Pty Ltd, in whole or in part, on
    notice to you. Crunchtime Delivery Pty Ltd accepts no other liability which may arise as a
    result of such blacklisting and/or refusal to process any order.
    5. At any time, you can choose to stop using the App, with or without notice to Crunchtime
    Delivery Pty Ltd.
    18. Force majeure events
    1. As between you and Crunchtime Delivery Pty Ltd, you and any Delivery driver, or any
    Vendor, no party will be liable to any other party for any delay or failure in performing its
    obligations (excluding payment obligations) in terms of these Terms and Conditions due to
    an event beyond its control, including but not limited to:
    1.1. an act of God,
    1.2. fire, flood, earthquake,
    1.3. war or,
    1.4. acts and omissions of any other utility provider, including but not limited to
    electricity ‘load-shedding’ activities.
    19. Governing law and jurisdiction
    1. These Terms and Conditions, the relationship between you and Crunchtime Delivery Pty
    Ltd, any Vendor or any Delivery driver, and/or any dispute arising from or in connection with
    these Terms and Conditions shall be governed and interpreted in accordance with the laws
    of the Republic of South Africa. Your continued use of the App will constitute your consent
    and submission to the jurisdiction of the South African courts regarding all proceedings,
    transactions, applications or the like instituted by either party against the other, arising from
    any of these Terms and Conditions.
    2. In the event of any dispute arising between you and Crunchtime Delivery Pty Ltd, you
    hereby consent to the non-exclusive jurisdiction of the High Court of the Republic of South
    Africa (Western Cape Division, Cape Town) notwithstanding that the quantum in the action
    or proceedings may otherwise fall below the monetary jurisdiction of that court.
    3. Nothing in this clause 19 or the Terms and Conditions limits your right to approach any
    court, tribunal or forum of competent jurisdiction in terms of the CPA.
    20. Notices
    1. Crunchtime Delivery Pty Ltd hereby selects 48 Riebeek Street, Cape Town 8001 (with a copy
    to <a href="mailto:crunchtimedelivery@gmail.com">crunchtimedelivery</a> , which copy must be given in order for notice
    to be validly given) as its address for the service of all formal notices and legal processes in
    connection with these Terms and Conditions ("legal address"). Crunchtime Delivery Pty Ltd
    may change this address from time to time by updating these Terms and Conditions.
    2. You hereby select the email address and any delivery address specified with your orders as
    your legal address, but you may change it by giving Crunchtime Delivery Pty Ltd not less
    than 7 days’ notice in writing.
    3. Notices must be sent either by hand, prepaid registered post or email and must be in
    English. All notices sent -
    3.1. by hand will be deemed to have been received on the date of delivery;
    3.2. by prepaid registered post, will be deemed to have been received 10 days after the
    date of posting; and
    3.3. by email before 16h30 on a business day will be deemed to have been received, on the
    date of successful transmission of the email. All emails sent after 16h30 or on a day
    which is not a business day will be deemed to have been received on the following
    business day, unless the contrary is proved.
    21. Information
    1. For the purposes of the Electronic Communications and Transactions Act 2002, Crunchtime
    Delivery Pty Ltd’s information is as follows, which should be read in conjunction with its
    product descriptions and other terms and conditions contained on the App:
    1.1. Full name: Crunchtime Delivery Pty Ltd, a private company registered in South
    Africa with registration number 2021/979448/07.
    1.2. Main business: Food ordering and delivery driver service
    1.3. Physical address for receipt of legal service (also postal and street address): 65
    ROKEBY ROAD, CRAWFORD, 7780 (marked for attention: CEO and Legal), which
    copy must be given in order for notice to be validly given
    1.4. Office bearers: Farhaanah Ebrahim
    1.5. Phone number: 021 518 1180.
    1.6. Official email address: <a href="mailto:crunchtimedelivery@gmail.com">crunchtimedelivery</a>

    <h3>2. General</h3>

    1. Crunchtime Delivery Pty Ltd may, in its sole discretion, at any time and for any reason and
    without prior written notice, suspend or terminate the operation of the App, or the user’s
    right to use the App, or any of its contents, subject to us processing any orders then already
    made by you.
    2. You may not cede, assign or otherwise transfer your rights and obligations in terms of these
    Terms and Conditions to any third party.
    3. Any failure on the part of you or Crunchtime Delivery Pty Ltd to enforce any right in terms
    hereof shall not constitute a waiver of that right.
    4. If any term or condition contained herein is declared invalid, the remaining terms and
    conditions will remain in full force and effect.
    5. No variation, addition, deletion, or agreed cancellation of the Terms and Conditions will be
    of any force or effect unless in writing and accepted by or on behalf of the parties hereto.
    6. No indulgence, extension of time, relaxation or latitude which either you or Crunchtime
    Delivery Pty Ltd (the "grantor") may show, grant or allow to the other of them (the
    "grantee") shall constitute a waiver by the grantor of any of the grantor’s rights and the
    grantor shall not thereby be prejudiced or stopped from exercising any of its rights against
    the grantee which may have arisen in the past or which might arise in the future.
    These Terms and Conditions contain the whole agreement between you and Crunchtime
    Delivery Pty Ltd and no other warranty or undertaking is valid, unless contained in this
    document.
  </div>
</ion-content>
